body{
  background-color:white;
  background: url(../ressources/background_camagru2.png) no-repeat center top;
  }

.hed{
    margin-right: auto;
    font-family: tahoma,arial;
    text-align: center;
	  font-size: 6vw;
	  font-weight: bolder;
	  text-shadow: 7px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
    color: white;
  }

.big {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 12px;
}

.custom-input {
  width: 100%;
  padding-left: 5px;
  border-radius: 2px;
  border: 1px solid lightgrey;
  height: 32px;
}

.custom-input2 {
  width: 93%;
  margin-right: 2%;
  margin-left: 2%;
  padding-left: 5px;
  border-radius: 2px;
  border: 1px solid lightgrey;
  max-height: 6%;
}


.update-label {
  font-size: 18px;
  font-family: sans-serif;
}

.text-align-right {
  text-align: right;
}

.custom-button {
  margin-left: auto;
  height: 40px;
  border-radius: 4px;
  background-color: #C2AC0E;
  width: 70px;
  font-size: 16px;
  border: 0;
  color: white;
}

.change_profil {
    margin: 20px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
}

.home_butt{
  left: 2vw;
  top: 15px;
}

#loggued_user {
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 5%;
  padding-left: 5px;
  width: 88px;
  height: 135px;
  font-size: 1em;
}

#delete_user {
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 5%;
  padding-left: 5px;
  width: 95px;
  height: 215px;
  font-size: 1em;
}

.button {
  display: inline-block;
  margin-top: 5px;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: 0 3px #999;
  outline: 0;
}

.button:hover {background-color: #9c1e1e}

.button:active {
  background-color: #000000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.galerie {
  margin-top: 20px;
  font-size: 3vw;
  text-align: center;
  font-family: tahoma,arial;
  font-weight: bolder;
	text-shadow: 7px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
  color: white;
}

.pictures_bigdiv{
    display: flex;
    flex-wrap: wrap;
  }
  
  .picture_div{
  max-width: 22%;
  margin: 15px;
  align-content: flex-start;
  background-color: white, 0.6;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
  
}

.title{
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  font-size: 18px;
  font-family: sans-serif;
}

.custom-button {
  text-align: center;
  margin-bottom: 2px;
  margin-right: 3%;
  max-height: 7%;
  border-radius: 4px;
  background-color: #C2AC0E;
  width: 95%;
  font-size: 16px;
  border: 0;
  color: white;
}

.comment_div{
  margin: 3px 2px 3px 2px;
  max-width: 100%;
}

.com_class{
  font-size: 1vw;
  word-wrap: break-word;
  font-family: sans-serif;
}

.del_com_div{
  margin: 3px 2px 3px 2px;
  max-width: 100%;
}

.del_com{
  font-size: 1vw;
  word-wrap: break-word;
  font-family: sans-serif;
}

.del-button{
  display: inline-block;
  font-family: sans-serif;
  margin-top: 1px;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: rgb(255, 0, 0);
  border-radius: 15px;
  box-shadow: 0 1px #999;
  outline: 0;
}

.del-button:active {
  background-color: #000000;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

.button_notif {
  display: inline-block;
  margin-top: 5px;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: 0 3px #999;
  outline: 0;
}

.del_pic{
  display: inline-block;
  font-family: sans-serif;
  margin-top: 1px;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 0, 0);
  border-radius: 15px;
  box-shadow: 0 1px #999;
  outline: 0;
}

